<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">流程名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="processName" placeholder="请输入流程名称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <button class="layui-btn " lay-submit="" lay-filter="kTableSearchFilter">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <button class="layui-btn " type="reset" data-event="refresh">
                                        <i class="layui-icon layui-icon-refresh-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <table id="kContentTable" lay-filter="kContentTable"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>

<!--头部工具栏模板-->
<script type="text/html" id="headToolbarTpl">
<!--    <button class="layui-btn layui-btn-sm " lay-event="add">创建</button>-->
<!--    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchdel">删除</button>-->
<!--    <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="export">导出</button>-->
<!--    <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="import">导入</button>-->
</script>

<!--表格行工具栏模板-->
<script type="text/html" id="rowToolbarTpl">
<!--    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>-->
<!--    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="push"><i class="layui-icon layui-icon-release"></i>发布</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="start"><i class="layui-icon layui-icon-ok"></i>发起申请</a>
<!--    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>-->
</script>

<!--表格列格式化模板 start-->
<script type="text/html" id="pushStatusTpl">
    {{#  if(d.deploymentId){ }}
    <span class="layui-badge layui-bg-red">已发布</span>
    {{# } else { }}
    <span class="layui-badge layui-bg-blue">未发布</span>
    {{# } }}
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.processSuspended == true){ }}
    <span class="layui-badge layui-bg-black">挂起</span>
    {{# } else if(d.processSuspended == false) { }}
    <span class="layui-badge layui-bg-green">激活</span>
    {{# } else { }}
    <!--    <span class="layui-badge layui-bg-blue"></span>-->
    {{# } }}
</script>
<!--表格列格式化模板 end-->

<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'layer', 'table', 'laydate', 'upload'], function () {
        var elemet = layui.element, form = layui.form, layer = layui.layer, table = layui.table, laydate = layui.laydate;
        var upload = layui.upload;
        var tableId = 'kContentTable';
        var area = ['449px', '95%'];

        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            ,url: BASE_WEB + 'workflow/myprocess/list' // 数据接口
            ,toolbar: '#headToolbarTpl'
            ,cols: [[ //表头
                {type:'checkbox', fixed: 'left'}
                // ,{field: 'id', title: '流程ID', width: 130}
                ,{field: 'processName', title: '流程名称'}
                ,{field: 'deploymentId', title: '发布状态', align: 'center', width: 90, templet: '#pushStatusTpl'}
                ,{field: 'processSuspended', title: '状态', align: 'center', width: 90, templet: '#statusTpl'}
                ,{field: 'version', title: '版本', width: 60, align: 'center', templet: '<div><span class="layui-badge layui-bg-gray">{{d.version}}</span></div>'}
                ,{field: 'createTime', title: '创建时间', width: 180, templet: formatCreateTime}
                ,{field: 'lastUpdateTime', title: '最后更新', width: 180, templet: formatLastUpdateTime}
                ,{field: '', title: '操作', width: 110, fixed: 'right', templet: '#rowToolbarTpl'}
            ]]
        }));

        // 监听表格头部事件
        table.on('toolbar(' + tableId + ')', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var checkData = checkStatus.data; // 得到选中的数据
            log('checkData=', checkData)
        });

        // 表格行按钮 监听事件
        table.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'start') {
                if (!data.deploymentId) {
                    kvfKit.warningMsg("该流程未发布，不能启动");
                    return false;
                }
                kvfKit.aGet(
                    BASE_WEB + 'workflow/process/{deploymentId}/start'.replace("{deploymentId}", data.deploymentId),
                    function (r) {
                        if (r.code === req.status.ok) {
                            idx = layer.open({
                                type: 2
                                ,title: data.processName
                                ,content: BASE_WEB + 'workflow/task/{taskId}/form'.replace('{taskId}', r.data)
                                ,maxmin: false
                                ,area: area   // 宽高
                            });
                            layer.full(idx);
                        } else {
                            kvfKit.errorMsg(r.msg);
                        }
                    }
                )
            }
        });

        // 监听查询
        form.on('submit(kTableSearchFilter)', function (obj) {
            renderTableData(obj.field);
            return false;
        });

        var active = {
            refresh: function () {
                var $form = $('form');
                $form[0].reset();
                renderTableData(kvfKit.getFormJson($form));
            }
        };

        kvfKit.activeInit(active);

        function renderTableData(params) {
            params = params ? params : {};

            tableIns.reload({
                where: params,
                page: {curr: 1}
            });
        }

        // 绑定监听回车事件
        kvfKit.bindEnterEventForLayuiForm();

        function formatCreateTime(d) {
            return new Date(d.createTime).format("yyyy-MM-dd hh:mm:ss")
        }

        function formatLastUpdateTime(d) {
            return new Date(d.lastUpdateTime).format("yyyy-MM-dd hh:mm:ss")
        }

    });
</script>

</body>
</html>