<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.sys.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.sys.entity.Dept">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="area_id" property="areaId" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, type, area_id, sort, status, update_time, create_by, create_time
    </sql>

    <select id="selectDeptList" resultType="com.kalvin.kvf.modules.sys.entity.Dept">
        select <include refid="Base_Column_List" /> from sys_dept
        <trim prefix="where" prefixOverrides="and">
            <if test="dept.parentId != null">
                AND parent_id = #{dept.parentId}
            </if>
            <if test="dept.name != null and dept.name != ''">
                AND name LIKE concat("%", #{dept.name, jdbcType=VARCHAR}, "%")
            </if>
        </trim>
        order by type, sort asc
    </select>

</mapper>
