<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" th:value="${editInfo.name}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-inline">
            <input type="text" name="sort" th:value="${editInfo.sort==null?'0':editInfo.sort}" lay-verify="required" placeholder="请输入排序号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="checkbox" lay-filter="status" name="status" value="0" th:checked="${editInfo.status==null||editInfo.status==0}" lay-skin="switch" lay-text="正常|禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block" id="typeRadio">
            <input type="radio" name="type" value="0" title="公司" autocomplete="off" class="layui-input" th:remove="${editInfo.type==null||editInfo.type!=0?'all':'none'}" th:checked="${editInfo.type==null||editInfo.type==0}">
            <input type="radio" name="type" value="1" title="部门" autocomplete="off" class="layui-input" th:remove="${editInfo.type==null||editInfo.type!=1?'all':'none'}" th:checked="${editInfo.type==1}">
            <input type="radio" name="type" value="2" title="科室" autocomplete="off" class="layui-input" th:remove="${editInfo.type==null||editInfo.type!=2?'all':'none'}" th:checked="${editInfo.type==2}">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit" value="确认添加">
        <input type="text" name="id" th:value="${editInfo.id}" placeholder="保存ID" autocomplete="off" class="layui-input">
        <input type="text" name="parentId" th:value="${editInfo.parentId}" placeholder="保存parentId" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form'], function () {
        var $ = layui.$, form = layui.form;

        var parentId = kvfKit.getUrlParam('parentId');
        var type = kvfKit.getUrlParam('type');

        var $typeRadioEl = $('#typeRadio');
        if (type) {
            switch (Number(type)) {
                case 0:
                    $typeRadioEl.append('<input type="radio" name="type" value="0" title="公司" autocomplete="off" class="layui-input" checked>');
                    break;
                case 1:
                    $typeRadioEl.append('<input type="radio" name="type" value="1" title="部门" autocomplete="off" class="layui-input" checked>');
                    break;
                case 2:
                    $typeRadioEl.append('<input type="radio" name="type" value="2" title="科室" autocomplete="off" class="layui-input" checked>');
            }
        }
        form.render('radio');

        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            field.parentId = parentId;  // 父级ID
            field.type = type;  // 类型
            field.status = field.status || 1;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            log('field=', field);

            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: field.id ? api.sys.deptEdit : api.sys.deptAdd,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载treegrid表格
                        parent.$('#kTreeGrid').treegrid('reload', {id: Number(parentId)});
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });

    })
</script>
</body>
</html>