<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
    <link rel="stylesheet" th:href="@{/static/plugins/easyui/themes/material/easyui.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/easyui/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/static/css/kvf-treegrid.css}">
</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <!-- 主要内容块 -->
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit="" lay-filter="kTableSearchFilter">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <button class="layui-btn " type="reset" data-event="refresh">
                                        <i class="layui-icon layui-icon-refresh-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <table id="kTreeGrid" style="height: 545px"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script th:src="@{/static/plugins/easyui/easyloader.js}"></script>


<script type="text/html" id="iconTpl">
    <i class="{{d.icon}}"></i>
</script>

<script type="text/html" id="typeTpl">
    {{#  if(d.type == 0){ }}
    <span class="layui-badge layui-bg-green">目录</span>
    {{#  } else if(d.type == 1) { }}
    <span class="layui-badge layui-bg-orange">菜单</span>
    {{#  } else if(d.type == 2) { }}
    <span class="layui-badge layui-bg-gray">按钮</span>
    {{# } else { }}
    <span class="layui-badge">导航</span>
    {{# } }}
</script>

<!--头部工具栏模板-->
<div id="headToolbarTpl" class="layui-btn-container" style="padding: 6px 0 0 6px">
    <button class="layui-btn layui-btn-sm" data-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" data-event="batchdel">删除</button>
</div>


<!--表格行工具栏模板-->
<script type="text/html" id="rowToolbarTpl">
    {{# if(d.type !== 2 && d.type !== 3) { }}
    <a class="layui-btn layui-btn-xs" data-event="add" onclick="active.add(this)" data-id="{{d.id}}"><i class="layui-icon layui-icon-add-1"></i>添加</a>
    {{# } }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" data-event="edit" onclick="active.edit(this)" data-id="{{d.id}}"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-event="del" onclick="active.del(this)" data-id="{{d.id}}"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<script type="text/javascript" th:inline="none">
    var active;
    layui.use(['element', 'form', 'layer', 'table'], function () {
        var elemet = layui.element, form = layui.form, layer = layui.layer;
        var treeGridId = 'kTreeGrid';
        var area = ['510px', '95%'];

        var treeGridInst;
        easyloader.load('treegrid', function () {

            treeGridInst = $('#' + treeGridId).treegrid($.extend(config.easyui.treegrid, {
                url: api.sys.menuListData,
                method: 'get',
                idField: 'id',
                treeField: 'name',
                toolbar: '#headToolbarTpl',
                onExpand: function (row) {
                    treeGridKit.fitRightFrozenCol(treeGridInst);
                },
                onCollapse: function (row) {
                    treeGridKit.fitRightFrozenCol(treeGridInst);
                },
                loadFilter: function (r) {
                    var rows = r.data;
                    r.rows = rows;
                    var rootType;
                    for (var i = 0; i < rows.length; i++) {
                        if (r.type === 'q') {
                            if (i === 0) {
                                rootType = rows[i].type;
                            }
                            if (rows[i].type !== rootType && rows[i].type !== 3) {
                                rows[i]._parentId = rows[i].parentId;
                            }
                        } else {
                            if (rows[i].parentId !== 0) {
                                rows[i]._parentId = rows[i].parentId;
                            }
                        }

                        if (rows[i].type === 2 || rows[i].type === 3) {
                            rows[i].state = "open";
                        } else {
                            rows[i].state = "closed";
                        }
                    }
                    return r;
                },
                onLoadSuccess: function (row, data) {
                    treeGridKit.fitRightFrozenCol(treeGridInst);
                },
                frozenColumns: [[
                    {field: 'toolbar', title: '操作', width: 200, align: 'center', fixed: true, formatter: formatter.rowToolbar}
                ]],
                columns: [[
                    {field: 'name', title: '菜单名称', sortable: true, width: 220, fixed: true}
                    ,{field: 'icon', title: '图标', width: 60, align: 'center', formatter: formatter.icon, fixed: true}
                    ,{field: 'type', title: '类型', width: 80, align: 'center', formatter: formatter.type, fixed: true}
                    ,{field: 'url', title: 'URL', width: 220, fixed: false}
                    ,{field: 'permission', title: '权限标识', width: 180, fixed: true}
                    ,{field: 'sort', title: '排序号', width: 100, align: 'center', fixed: true}
                ]]

            }));

            treeGridKit.setPager(treeGridInst);
        });

        // 监听事件
        active = {
            add: function (that) {
                var id = $(that).data('id');
                id = id || 0;
                var level = treeGridInst.treegrid('getLevel', id);

                layer.open({
                    type: 2
                    ,title: '添加菜单'
                    ,content: api.sys.menuEditView + '?parentId=' + id + '&type=' + level
                    ,maxmin: true
                    ,area: area   // 宽高
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        // 点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#kFormSubmit");
                        submit.click();
                    }
                });
            },
            batchdel: function () {
                var checkData = treeGridInst.treegrid('getCheckedNodes');
                if(checkData.length === 0){
                    return kvfKit.warningMsg('请选择数据');
                }
                layer.confirm('确定删除吗？', function(index) {

                    var ids = [];
                    $.each(checkData, function(i, n){
                        ids[i] = n.id;
                    });

                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: api.sys.menuRmBatch,
                        data: {ids: ids.toString()},
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                treeGridKit.reload(treeGridInst);
                                kvfKit.sucessMsg('已删除');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });

                });
            },
            edit: function (that) {
                var id = $(that).data('id');
                layer.open({
                    type: 2
                    ,title: '编辑菜单'
                    ,content: api.sys.menuEditView + '?id=' + id
                    ,maxmin: true
                    ,area: area   // 宽高
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#kFormSubmit");
                        submit.click();
                    }
                });
            },
            del: function (that) {
                layer.confirm('确定删除吗？', function(index) {
                    var id = $(that).data('id');

                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: api.sys.menuRm + id,
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                treeGridKit.reload(treeGridInst);
                                kvfKit.sucessMsg('已删除');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            },
            refresh: function () {
                renderTableData();
            }
        };

        kvfKit.activeInit(active);

        $(window).resize(function () {
            treeGridKit.fitRightFrozenCol(treeGridInst);
        });

        // 列格式化函数
        var formatter = {
            rowToolbar: function (value, row, index) {
                return kvfKit.renderTpl('rowToolbarTpl', row);
            },
            icon: function (value, row, index) {
                return kvfKit.renderTpl('iconTpl', row);
            },
            type: function (value, row, index) {
                return kvfKit.renderTpl('typeTpl', row);
            }
        };

        // 监听查询
        form.on('submit(kTableSearchFilter)', function (obj) {
            renderTableData(obj.field);
            return false;
        });

        function renderTableData(params) {
            params = params ? params : {};
            log('seach=', params); //

            $.get(api.sys.menuListData, params, function(r) {
                r.type = 'q';
                treeGridInst.treegrid('loadData', r);
            }, 'json');
        }

        // 绑定监听回车事件
        kvfKit.bindEnterEventForLayuiForm();

    });


</script>

</body>
</html>