#set($base = $pack.BASE_PACKAGE)
#set($entityPK = $pack.ENTITY_PACKAGE)
#set($mapperPK = $pack.MAPPER_PACKAGE)
#set($servicePK = $pack.SERVICE_PACKAGE)
#set($serviceImplPK = $pack.SERVICE_IMPL_PACKAGE)
#set($controllerPK = $pack.CONTROLLER_PACKAGE)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${base}.modules.${config.moduleName}.${mapperPK}.${config.firstCapFunName}Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${base}.modules.${config.moduleName}.${entityPK}.${config.firstCapFunName}">
        #foreach($column in $config.allColumns)
        #if($column.columnName == $config.primaryKey)
        <id column="$column.columnName" property="$column.columnNameCamelCase" />
        #else
        <result column="$column.columnName" property="$column.columnNameCamelCase" />
        #end
        #end
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        #foreach($column in $config.allColumns)#if($foreach.count > 1),#end#if($foreach.count == 1)      #end $column.columnName#end

    </sql>

    <select id="select${config.firstCapFunName}List" resultType="${base}.modules.${config.moduleName}.${entityPK}.${config.firstCapFunName}">
        select <include refid="Base_Column_List" /> from $config.tableName
        <trim prefix="where" prefixOverrides="and">
            #if($config.queryColumns.size() == 0)
            #foreach($column in $config.allColumns)
            #if($column.columnName != $config.primaryKey)
            #set($valExp = ${config.funName} + '.' + $column.columnNameCamelCase)
            #if($column.dataType == 'varchar' || $column.dataType == 'char')
            <if test="$valExp != null and $valExp != ''">
                and $column.columnName like concat(#{$valExp}, "%")
            </if>
            #else
            <if test="$valExp != null">
                and $column.columnName = #{$valExp}
            </if>
            #end
            #end
            #end
            #else
            #foreach($column in $config.queryColumns)
            #if($column.name != $config.primaryKey)
            #set($valExp = ${config.funName} + '.' + $column.nameCamelCase)
            #if($column.dataType == 'varchar' || $column.dataType == 'char')
            <if test="$valExp != null and $valExp != ''">
                and $column.name like concat(#{$valExp}, "%")
            </if>
            #else
            <if test="$valExp != null">
                and $column.name = #{$valExp}
            </if>
            #end
            #end
            #end
            #end
        </trim>
##        order by sort asc
    </select>

</mapper>
