#set($base = $pack.BASE_PACKAGE)
#set($entityPK = $pack.ENTITY_PACKAGE)
#set($mapperPK = $pack.MAPPER_PACKAGE)
#set($servicePK = $pack.SERVICE_PACKAGE)
#set($serviceImplPK = $pack.SERVICE_IMPL_PACKAGE)
#set($controllerPK = $pack.CONTROLLER_PACKAGE)
package ${base}.modules.${config.moduleName}.${serviceImplPK};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;
import ${base}.modules.${config.moduleName}.${entityPK}.${config.firstCapFunName};
import ${base}.modules.${config.moduleName}.${mapperPK}.${config.firstCapFunName}Mapper;

import java.util.List;

/**
 * <p>
 * $config.tableComment 服务实现类
 * </p>
 #if($author)
 * @author $author
 #end
 * @since $createTime
 */
@Service
public class ${config.firstCapFunName}ServiceImpl extends ServiceImpl<${config.firstCapFunName}Mapper, ${config.firstCapFunName}> implements ${config.firstCapFunName}Service {

    @Override
    public Page<${config.firstCapFunName}> list${config.firstCapFunName}Page(${config.firstCapFunName} ${config.funName}) {
        Page<${config.firstCapFunName}> page = new Page<>(${config.funName}.getCurrent(), ${config.funName}.getSize());
        #if($config.tableType == 'tree_grid')
        ${config.funName}.setParentId(${config.funName}.get${config.firstCapPk}() == null ? 0 : ${config.funName}.get${config.firstCapPk}()); // treegrid默认传的id作为parentId
        #end
        List<${config.firstCapFunName}> ${config.funName}s = baseMapper.select${config.firstCapFunName}List(${config.funName}, page);
        return page.setRecords(${config.funName}s);
    }

}
