<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">
                            #foreach($queryColumn in $config.queryColumns)
                                #if($queryColumn.dataType == 'timestamp' || $queryColumn.dataType == 'date' || $queryColumn.dataType == 'datetime')
                                <div class="layui-inline">
                                    <label class="layui-form-label">$queryColumn.comment</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="$queryColumn.nameCamelCase" id="$queryColumn.nameCamelCase" placeholder="请输入$queryColumn.comment" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                #else
                                <div class="layui-inline">
                                    <label class="layui-form-label">$queryColumn.comment</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="$queryColumn.nameCamelCase" placeholder="请输入$queryColumn.comment" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                #end

                                #if($config.queryColumns.size() == $foreach.count)
                                <div class="layui-inline">
                                    <button class="layui-btn " lay-submit="" lay-filter="kTableSearchFilter">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <button class="layui-btn " type="reset" data-event="refresh">
                                        <i class="layui-icon layui-icon-refresh-1"></i>
                                    </button>
                                </div>
                                #end
                            #end
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <table id="kContentTable" lay-filter="kContentTable"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>

<!--头部工具栏模板-->
<script type="text/html" id="headToolbarTpl">
    #foreach($headButton in $config.headButtons)
    <button class="layui-btn layui-btn-sm $headButton.colorScheme" lay-event="$headButton.key">#if($!headButton.icon)<i class="$headButton.icon"></i>#end$headButton.name</button>
    #end
</script>

<!--表格行工具栏模板-->
<script type="text/html" id="rowToolbarTpl">
    #foreach($rowButton in $config.rowButtons)
    <a class="layui-btn layui-btn-xs $rowButton.colorScheme" lay-event="$rowButton.key">#if($!rowButton.icon)<i class="$rowButton.icon"></i>#end$rowButton.name</a>
    #end
</script>

<!--表格列格式化模板 start-->
#foreach($column in $config.columns)
#if($column.columnCommentValueRelations != $null)
<script type="text/html" id="${column.name}Tpl">
#if($column.columnCommentValueRelations.size() == 0)
<!--todo由于注释不统一规范，无法为你生成格式化代码，请自行处理-->
<span>{{d.$column.name}}</span>
#end
#foreach($columnValueRelation in $column.columnCommentValueRelations)
    #if($foreach.count == 1)
    {{#  if(d.$column.name == $columnValueRelation.key){ }}
    <span class="layui-badge layui-bg-blue">$columnValueRelation.name</span>
    #else
    {{# } else if(d.$column.name == $columnValueRelation.key) { }}
    <span class="layui-badge layui-bg-blue">$columnValueRelation.name</span>
    #end
    #if($foreach.count == $column.columnCommentValueRelations.size())
    {{# } }}
    #end
#end
</script>
#end
#end
<!--表格列格式化模板 end-->

<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'layer', 'table', 'laydate'], function () {
        var elemet = layui.element, form = layui.form, layer = layui.layer, table = layui.table, laydate = layui.laydate;
        var tableId = 'kContentTable';
        var area = ['449px', '95%'];

        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            ,url: BASE_WEB + '$config.moduleName/$config.funName/list/data' // 数据接口
            ,toolbar: '#headToolbarTpl'
            ,cols: [[ //表头
                {type:'checkbox', fixed: 'left'}
                #foreach($column in $config.columns)
                ,{field: '$column.name', title: '$column.comment'#if($column.sort), sort: true#end#if($foreach.count!=2), width: 130#end#if($column.format), templet: '#${column.name}Tpl'#end}
                #end
                #if($config.rowButtons.size() > 0)
                ,{field: '', title: '操作', width: 235, fixed: 'right', templet: '#rowToolbarTpl'}
                #end
            ]]
        }));

        // 监听表格头部事件
        table.on('toolbar(' + tableId + ')', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var checkData = checkStatus.data; // 得到选中的数据
            switch(obj.event) {
                #foreach($headButton in $config.headButtons)
                case '$headButton.key':
                    #if($headButton.id == 1)
                    layer.open({
                        type: 2
                        ,title: '$headButton.name'
                        ,content: BASE_WEB + '$config.moduleName/$config.funName/edit'
                        ,maxmin: true
                        ,area: area   // 宽高
                        ,btn: ['确定', '取消']
                        ,yes: function(index, layero){
                            //点击确认触发 iframe 内容中的按钮提交
                            var submit = layero.find('iframe').contents().find("#kFormSubmit");
                            submit.click();
                        }
                    });
                    #elseif($headButton.id == 2)
                    if(checkData.length === 0){
                        return kvfKit.warningMsg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function(index) {
                        var ids = [];
                        $.each(checkData, function(i, n){
                            ids[i] = n.$config.pkCamelCase;
                        });

                        //执行 Ajax 后重载
                        $.ajax({
                            type: req.type.post,
                            url: BASE_WEB + '$config.moduleName/$config.funName/batchdel',
                            data: {ids: ids.toString()},
                            success: function (r) {
                                if (r.code === req.status.ok) {
                                    table.reload(tableId);
                                    kvfKit.sucessMsg('已删除');
                                } else {
                                    kvfKit.errorMsg(r.msg);
                                }
                            }
                        });
                    });
                    #else
                    layer.open({
                        type: 1
                        ,title: '$headButton.name'
                        ,content: '<div><h3>todo 该功能未实现</h3></div>'    // content使用url打开，请把类型type更改为2
                        ,maxmin: true
                        ,area: area   // 宽高
                        ,btn: ['确定', '取消']
                        ,yes: function(index, layero){
                            // todo点击确定处理事件
                        }
                    });
                    #end
                    break;
                #end
            }
        });

        // 表格行按钮 监听事件
        table.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            #foreach($rowButton in $config.rowButtons)
            if (layEvent === '$rowButton.key') {
                #if($rowButton.id == 2)
                layer.open({
                    type: 2
                    ,title: '$rowButton.name'
                    ,content: BASE_WEB + '$config.moduleName/$config.funName/edit?$config.pkCamelCase=' + data.$config.primaryKey
                    ,maxmin: true
                    ,area: area   // 宽高
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#kFormSubmit");
                        submit.click();
                    }
                });
                #elseif($rowButton.id == 3)
                layer.confirm('确定删除吗？', function(index) {
                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + '$config.moduleName/$config.funName/del/' + data.$config.pkCamelCase,
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('已删除');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
                #else
                layer.open({
                    type: 1
                    ,title: '$rowButton.name'
                    ,content: '<div><h3>todo 该功能未实现</h3></div>'    // content使用url打开，请把类型type更改为2
                    ,maxmin: true
                    ,area: area   // 宽高
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        // todo点击确定处理事件
                    }
                });
                #end
            }
            #end
        });

        #foreach($column in $config.queryColumns)
        #set($name = $column.nameCamelCase)
        #if($column.dataType == 'timestamp' || $column.dataType == 'datetime')
        laydate.render({
            elem: '#$name' // 指定元素
            ,type: 'datetime'
        });
        #elseif($column.dataType == 'date')
        laydate.render({
            elem: '#$name' // 指定元素
        });
        #end
        #end

        // 监听查询
        form.on('submit(kTableSearchFilter)', function (obj) {
            renderTableData(obj.field);
            return false;
        });

        var active = {
            refresh: function () {
                var $form = $('form');
                $form[0].reset();
                renderTableData(kvfKit.getFormJson($form));
            }
        };

        kvfKit.activeInit(active);

        function renderTableData(params) {
            params = params ? params : {};

            tableIns.reload({
                where: params,
                page: {curr: 1}
            });
        }

        // 绑定监听回车事件
        kvfKit.bindEnterEventForLayuiForm();

    });
</script>

</body>
</html>